



/* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model */

#model-pallet{
    color: white;
    background-color: #1D2C41;
}

#model-pallet-header{
    text-align: center;
}


.modal-header {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: center;
    /* padding: 1rem 1rem; */
    border-bottom: 0px solid #dee2e6;
    /* border-top-left-radius: calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px); */
}

.modal-footer{
    background-color: white;
}

#model-pallet-send-btn{
    background-color: #1D2C41;
}
/* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model *//* model */








#banner-section{
    margin-top: 20px;
    width: 100%;
}


#banner-area{

}
.banner{
    width: 100%;
    border-radius:40px;
    object-fit: scale-down;
}











/* pills *//* pills *//* pills *//* pills *//* pills */


.custom-pill{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #F1F1F1;
    height: 80px;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 15px;
    cursor: pointer;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.0);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.0);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.0);

    transition: all 0.3s ease-in-out;
}

.custom-pill:hover{
    background-color: #1D2C41;
    color: white;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.active-custom-pill{
    background-color: #1D2C41;
    color: white;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.5);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.5);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
}

.pill-text{
    font-weight: 600;
    font-size: 18px;
    margin: 10px;
    margin-left: 20px;
}

.pill-icon{
    margin-right: 20px;
}





/* sub *//* sub *//* sub *//* sub *//* sub */

#category-name{
    font-size: 60px;
    font-weight: 700;
    color: #1D2C41;
}

#view-button{
    font-size: 25px;
    margin-left: 4px;
    font-weight: 600;
    color: #1D2C41;
}

#sub-category-box{
    margin-top: 15px;
}

.sub-category-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    float: left;
    margin-right: 7px;
    margin-bottom: 5px;
    padding-left: 35px;
    padding-right: 35px;
    background-color: white;
    border-style: solid;
    border-color: #EBEBEB;
    border-width: 3px;
    border-radius: 10px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: 0.2s ease-in-out;
}

.sub-category-button:hover{
    color: white;
    background-color: #1D2C41;
    border-color: #1D2C41;
}


.scb-active{
    color: white;
    background-color: #1D2C41;
    border-color: #1D2C41;
}







/* small product pallet *//* small product pallet *//* small product pallet *//* small product pallet */


.small-product-pallet{
    padding: 10px;
    width: 100%;
    
    border-radius: 25px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.1);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.1);

    margin-bottom: 30px;
    transition: all 0.3s ease-in-out;
}

.image-pallet{
    width: 100%;
    border-radius: 20px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.05);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.05);
    margin-bottom: 10px;
}

.product-image{
    border-radius: 20px;
    width: 100%;
    object-fit: cover;
    height: 300px;
    
}

.info-pallet{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #F0EAF8;
    border-radius: 20px;
    -webkit-box-shadow:0 0 10px rgba(0,0,0,0.05);
    -moz-box-shadow:0 0 10px rgba(0,0,0,0.05);
    box-shadow:0 0 10px rgba(0, 0, 0, 0.05);

    transition: all 0.3s ease-in-out;
}



.product-info{

}

.product-title{
    font-size: 18px;
    font-weight: 700;
    color: #1D2C41;
    margin: 0px;
    margin-top: 10px;
    margin-bottom: 10px;

    /* transition: 0.5s; */
}

.product-des{
    display: none;
    opacity: 0;
    font-size: 14px;
    font-weight: 400;
    color: #1D2C41;
    margin-top: -3px;

    /* transition: 0.5s; */
    /* transition: all 0.3s ease-in-out; */
}

.info-icon-pallet{

}

.product-icon{
    display: none;
    font-size: 15px;
    color: #1D2C41;

    /* transition: 0.5s; */
    /* transition: all 0.3s ease-in-out; */
}

.product-price{
    font-size: 15px;
    color: #1D2C41;
    margin: 0px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px;
    
    /* transition: 0.5s; */
    /* transition: all 0.3s ease-in-out; */
}

.small-product-pallet:hover {
    
    -webkit-box-shadow:0 0 15px rgba(0,0,0,0.17);
    -moz-box-shadow:0 0 15px rgba(0,0,0,0.17);
    box-shadow:0 0 15px rgba(0, 0, 0, 0.17);
}


.small-product-pallet:hover .product-des{
    display: block;
    margin-bottom: 0px;
    opacity: 1;
    color: white;
}

.small-product-pallet:hover .product-icon{
    display: block;
    color: white;
}
.small-product-pallet:hover .product-price{
    display: none;
}
.small-product-pallet:hover .product-title{
    margin-top: 1px;
    margin-bottom: 1px;
    color: white;
}

.small-product-pallet:hover .product-title{
    margin-top: 1px;
    margin-bottom: 1px;
}

.small-product-pallet:hover .info-pallet{
    background-color: #1D2C41;
    
}


