body{
    background-color: #1D2C41;
    margin: 0;
}



.center-me {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


#splash-image{
    width: 18%;
    opacity: 0;
    animation: mymove 4s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
}



@keyframes mymove {  
  0%   {opacity: 0;width: 18%;}
  100% {opacity: 1;width: 22%;}
}