


.product-image-rounded{
    width: 100%;
    height: 600px;
    object-fit: cover;
    border-radius: 1rem;
}





#description-box{
    
    background-color: rgb(235, 235, 235);
    border-radius: 1rem;
}

#description-upper{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.5rem;
}



#product-name-box{
    margin-top: 10px;
}

#product-name-text{
    font-size: 23px;
    font-weight: 600;
}


.tile-box{
    margin-top: 20px;
}
.tile-head-text{
    font-size: 13px;
    margin-bottom: 7px;
}
.tile-des-text{
    font-weight: 600;
}




.main-info-box{
    margin-top: 35px;
}
.main-info-image{
    color: #1D2C41;
    font-size: 30px;
    float: left;
}
.main-info-text{
    float: left;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: 600;
}



#main-description-head{
    margin-top: 35px;
    margin-bottom: 5px;
    font-size: 17px;
    font-weight: 600;
}

#main-description-text{
    font-size: 15px;
    opacity: 0.7;
}



#contact-hidden{
    /* display: none; */
}

#seller-contact{
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#seller-contact-label{
    /* margin-top: 35px; */
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

#seller-contact-number{
    font-size: 14px;
}

#seller-address{
    text-align: left;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
}

#seller-address-label{
    /* margin-top: 35px; */
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
}

#seller-address-number{
    font-size: 14px;
}

#seller-store{
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#seller-store-logo{
    width: 50px;
    border-radius: 50px;
}

#seller-store-name{
    margin-top: 15px;
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
}



#description-lower{
    padding-top: 25px;
    cursor: pointer;
    height: 80px;
    text-align: center;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background-color: #1D2C41;
}
#bottom-buttom{
    color: white;
    font-size: 20px;
}




